body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-y: auto;
}

.wrapper {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;    /* para que el contenido arranque por arriba */
      width: 100vw;
      padding: 0 20px;
      box-sizing: border-box;
      gap: 40px;                   /* separa botones de tabla */
    }
    /* Ajustes al contenedor de la tabla */
    .tabla-container {
      flex: 1;                     /* que ocupe el espacio restante */
    }
    .tabla-habitaciones {
      width: 100%;
      border-collapse: collapse;
    }
    .tabla-habitaciones th,
    .tabla-habitaciones td {
      border: 1px solid #ccc;
      padding: 8px;
      text-align: center;
    }

.button-column {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-height: 100vh;
  overflow-y: auto;
}

.left {
  align-items: flex-start;
}

.right {
  align-items: flex-end;
}
